*{
    /*border: 1px solid gray;*/
}
body{
    background-color: white;
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
    background-image: url("https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fi.pinimg.com%2Foriginals%2F51%2Fed%2Fc0%2F51edc046eb80046ee4755ee71d0f19ca.jpg&f=1");
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: white;
}
